# IDE 相关
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# 操作系统相关
.DS_Store
Thumbs.db
Desktop.ini

# Node.js
node_modules/
.yarn/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json



# 日志文件
*.log
logs/

# 临时文件
*.swp
*.swo
*.tmp
*.temp
*.bak

# 编译输出
dist/
build/
out/
